
$alignment: (
  'left': left,
  'right': right,
  'center': center,
  'justify': justify,
);

@mixin text-alignment {
  @each $name, $string in $alignment {
    &-#{$name} {
      text-align:$string;
    }
  }
}


@mixin color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: $hex;
    }
  }
}